<nav>
  <ul>
    <li><a href="/products">All products</a></li>
    <li><a href="/albums">Albums</a></li>
    <li><a href="/artists">Artists</a></li>
    <li><a href="/genres">Genres</a></li>
    <li><a href="/formats">Formats</a></li>
  </ul>

  <ul>
    <li><a href="/product/create">Add product</a></li>
    <li><a href="/album/create">Add album</a></li>
    <li><a href="/artist/create">Add artist</a></li>
    <li><a href="/genre/create">Add genre</a></li>
    <li><a href="/format/create">Add format</a></li>
  </ul>
</nav>
