<nav>
  <ul>
    <li>All products</li>
    <li>Albums</li>
    <li>Artists</li>
    <li>Genres</li>
    <li>Formats</li>
  </ul>

  <ul>
    <li>Add new product</li>
    <li>Add album</li>
    <li>Add artist</li>
    <li>Add genre</li>
    <li>Add format</li>
  </ul>
</nav>
